<h1>Here is the post for the user <%= @posts[:id] %></h1>
<ul>
<li>Post: <%= @posts[:post_text] %></li>
<li>Number of likes: <%= @posts[:likes] %></li>
<li>Number of comments: <%= @posts[:comments] %></li>
</ul>